version: '3'

services:
  db:
    image: "postgres:14.5"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "booking"
      POSTGRES_USER: "booking"
      POSTGRES_PASSWORD: "booking"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: "redis:7-alpine"
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        - --no-cache=true
    ports:
      - "3000:3000"
    depends_on:
      - backend

  celery:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: celery
    working_dir: /TochkaBookingProject
    volumes:
      - ./backend:/TochkaBookingProject
    command: celery -A src.scheduler.clr:celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - db
      - redis

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    depends_on:
      - backend
    networks:
      - default

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_HTTP_PORT=3000
    depends_on:
      - prometheus
    networks:
      - default

volumes:
  postgres_data:
  prometheus_data:
  grafana_data: